<div class="container-fluid">
  <div class="link-to-other">
    <%= link_to 'コーディネーターで新規登録', new_coordinator_registration_path %>
  </div>
  <h2>レジデント 新規登録</h2>

  <%= form_for(resource, as: resource_name, class: "form-horizontal", url: registration_path(resource_name)) do |f| %>
    <%= render "residents/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :profile_img, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.file_field :profile_img %><br>
        <%= f.hidden_field :profile_img_cache %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :name, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :sex, class: "col-sm-2 control-label"%>
      <div class="col-sm-10">
      <label><%= f.radio_button :sex, :male, autofocus: true, autocomplete: "sex" %>男性</label>
      <label><%= f.radio_button :sex, :female, autofocus: true, autocomplete: "sex" %>女性</label>
      <label><%= f.radio_button :sex, :undisclosed,autofocus: true, autocomplete: "sex" %>非公開</label>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :birthday, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <label><%= f.date_select :birthday, use_month_numbers: true, start_year: 1930, end_year: (Time.now.year - 10), prompt:"--" %></label>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :user_name, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name" %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :email, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上必須)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation,class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit "登録する", class:"btn btn-default" %>
    </div>
  <% end %>

  <div class="link-group">
  　 <%= render "residents/shared/links" %>

    <%= link_to 'トップページに戻る', tops_path %>
  </div>
</div>