<div>
  <%= form_with(model: @interior, local: true) do |form| %>
    <% if @interior.errors.any? %>
      <div id="error_explanation">
        <h2><%= @interior.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @interior.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= image_tag(@interior.design_image.url) if @interior.design_img && @interior.design_img.url %>

      <%= form.label :design_img %><br>
      <%= form.file_field :design_img %><br>
      <%= form.hidden_field :image_cache %>
      
      <%= form.label :date_of_creation %><br>
      <%= form.hidden_field :date_of_creation %>
      <%= form.date_select :date_of_creation %><br>

      <%= form.label :budget%><br>
      <%= form.hidden_field :budget %>
      ¥<%= form.text_field :budget %><br>

      <%= form.label :description %><br>
      <%= form.hidden_field :description %>
      <%= form.text_area :description %><br>

      <%= form.hidden_field :coordinator_id, value: current_coordinator.id %>

      <div>
        <%= form.submit %>
      </div>
    </div>
  <% end %>
</div>

<div>
  <%= link_to 'Back', interiors_path %>
</div>