<h1 class="page-title">Interiors</h1>


<div class="interior-list jscroll">

  <div class="row">
    
    <% @interiors.each do |interior| %>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag(interior.design_img.url, class: "sized") %>
          <div class="caption">
            <h5><%= interior.created_at.strftime("%Y/%m/%d %p %l:%M") %></h5>
            <p><%= interior.description %></p>

              <% if current_resident.present? %>
                <% favorite = @favorites.find_by(interior_id: interior.id) %>
                <% if favorite.nil? %>
                  <%= link_to '♡', favorites_path(interior_id: interior.id), method: :post, class: 'heart' %>
                <% else %>
                  <%= link_to '❤︎', favorite_path(id: favorite.id), method: :delete, class: 'heart' %>
                <% end %>
              <% end %>
            
            <%= link_to interior.coordinator.name, coordinator_path(interior.coordinator_id) %></p>
          </div>
        </div>
      </div>

    <% end %>
    
    </div>

  <%= paginate @interiors %>
    
    
  </div>


