<h1>Interiors</h1>


<% @interiors.each do |interior| %>
<div>
  <%= image_tag(interior.design_img.url) %><br>

  <div>
    <label>スタイル</label>
    
    <% if current_resident.present? %>
      <% favorite = @favorites.find_by(interior_id: interior.id) %>
      <% if favorite.nil? %>
        <%= link_to '♡', favorites_path(interior_id: interior.id), method: :post %>
      <% else %>
        <%= link_to '❤︎', favorite_path(id: favorite.id), method: :delete %>
      <% end %>
    <% end %>


  </div>

  <label>コーディネーター：</label>
  <%= link_to interior.coordinator.name, coordinator_path(interior.coordinator_id) %>
  
<% end %>

</div>
<%= link_to 'Back', interiors_path %>
