<h1>Interiors</h1>

<div class="interior-list jscroll">

  <% @interiors.each do |interior| %>
    <%= image_tag(interior.design_img.url) %><br>

    <div>
      
      <% if current_resident.present? %>
        <% favorite = @favorites.find_by(interior_id: interior.id) %>
        <% if favorite.nil? %>
          <%= link_to '♡', favorites_path(interior_id: interior.id), method: :post %>
        <% else %>
          <%= link_to '❤︎', favorite_path(id: favorite.id), method: :delete %>
        <% end %>
      <% end %>

      <label>コーディネーター：</label>
      <%= link_to interior.coordinator.name, coordinator_path(interior.coordinator_id) %>

    </div>

   
    
  <% end %>

  <%= paginate @interiors %>
</div>

