<h1><%= @coordinator.name %>のshow</h1>

<div>
<h3><%= @coordinator.user_name %></h3>
好きなスタイル：
</div>


<h3>案件一覧</h3>


<table>
    <thead>
    <tr>
        <th>リクエストno.</th>
        <th>取引状況</th>
        <th>クローズ日</th>
        <th>取引レジデント</th>
        <th>リクエストページ</th>
    </tr>
    </thead>
    <tbody>
    <% @coordinator.contracts.each do |contract| %>

    <tr>
        <td> <%= contract.id %></td>
        
        <% if contract.approval == 'approval' %>
          <td><%= contract.approval_i18n %></td>
        <% else %>
          <td><%= contract.status_i18n %></td>
        <% end %>

        <% if contract.status == 'close' %>
          <td><%= contract.update_date %></td>
        <% elsif contract.status == 'open' %>
          <td>ー</td>
        <% end %>
        
        <td><%= contract.request.resident.user_name %></td>

        <td><%= link_to '詳細', request_path(contract.request_id) %></td>

    </tr>
    <% end %>
  </tbody>
</table>
