<% if resident_signed_in? %>
  <h1 class="page-title">Coordinator Page</h1>
<% elsif coordinator_signed_in? %>
  <h1 class="page-title">My Page</h1>
<% end %>

<div class="request-apply">
<% if resident_signed_in? %>
  <% if @request.present? && @contract.nil? %>
    <%= link_to '依頼する', contracts_path(contract: {request_id: @request.id, coordinator_id: @coordinator.id}), method: :post, permitted: true, class: "btn btn-primary" %>

  <% elsif @request.present? && @contract.approval == false && @contract.coordinator_id == @coordinator.id %>
    <%= link_to '依頼を取り消す', contract_path(@request.contract.id), method: :delete, data: { confirm: '本当に依頼を取り消しますか' }, class: 'btn btn-danger' %>

  <% elsif @request.present? && @request.coordinator_id == @coordinator.id %>
    <span class="label label-success">取引中のコーディネーターです</span>
    <div class="link-to">
      <%= link_to 'チャットルームへ', room_path(@request.contract.room.id) %>
    </div>

    <% elsif @request.present? && @contract.present? %>
    <span class="label label-warning">他のコーディネーターに依頼中です</span>
    
  <% else %>
    <span class="label label-warning">リクエストを作成してからの申請となります </span>
    <div class="link-to">
    <%= link_to 'リクエストを作成', new_request_path %>
    </div>
  <% end %>
<% end %>
</div>


<div class="media">
  <div class="media-left">
    <% if @profile_img.nil? %>
      <%= image_tag 'profile.jpg', class: "media-object" %>
    <% else %>
      <%= image_tag(@coordinator.profile_img.url, class: "media-object") %>
    <% end %>
  </div>

  <div class="media-body">
    <h3 class="media-heading"><%= @coordinator.user_name %></h4>
    <div>
      <label>性別：</label>
      <%= @coordinator.sex %><br><br>

      <label>誕生日：</label>
      <%= @coordinator.birthday %><br><br>

      <label>職業：</label>
      <%= @coordinator.occupation %><br><br>
    </div>
  </div>
</div>
    

<% if coordinator_signed_in? && current_coordinator.id == @coordinator.id %>
  
  <div class="panel panel-default">
    <div class="panel-heading">取引履歴</div>

    <% if @contracts.present? %>
      <table class="table">
          <thead>
            <tr>
                <th>リクエストno.</th>
                <th>取引状況</th>
                <th>クローズ日</th>
                <th>取引レジデント</th>
                <th>リクエスト詳細</th>
                <th>チャットルーム</th>
                <th>提案</th>
            </tr>
          </thead>
          <tbody>
            <% @contracts.each do |contract| %>
            <tr>
                <td><%= contract.id %></td>
                <td><%= contract.status_i18n %></td>

              <% if contract.status == 'close' %>
                <td><%= contract.updated_at.strftime("%Y/%m/%d %p %l:%M") %></td>
                <% else %>
                <td>ー</td>
              <% end %>
                
                <td><%= link_to contract.request.resident.user_name, resident_path(contract.request.resident.id) %></td>
                <td><%= link_to '＞＞', request_path(contract.request_id) %></td>

                <% if contract.room.nil? %>
                  <td><%= link_to 'チャットを開始する', rooms_path(room: {resident_id: contract.request.resident_id, contract_id: contract.id}), method: :post %></td>
                <% else %>
                  <td><%= link_to 'チャットルームへ', room_path(contract.room.id) %></td>
                <% end %>

                <% if contract.suggestion.nil? %>
                  <td><%= link_to '提案する', new_suggestion_path %>
                <% else %>
                  <td><%= link_to '提案を見る', suggestion_path(contract.suggestion.id) %>
                <% end %>
            </tr>
            <% end %>
          </tbody>
      </table>
    <% else %>
      <p class="comment">取引履歴がありません。<p>
    <% end %>
  </div>
<% end %>

<h3><%= @coordinator.user_name %> 作品一覧</h3>

<div class="interior-list jscroll">

  <div class="row">

    <% @interiors.each do |interior| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
        <%= image_tag(interior.design_img.url, class: "sized") %>
          <div class="caption">
            <h5><%= interior.created_at.strftime("%Y/%m/%d %p %l:%M") %></h5>
            <p><%= interior.description %></p>
          
          <% if current_resident.present? %>
            <% favorite = @favorites.find_by(interior_id: interior.id) %>
            <% if favorite.nil? %>
              <%= link_to '♡', favorites_path(interior_id: interior.id), method: :post %>
            <% else %>
              <%= link_to '❤︎', favorite_path(id: favorite.id), method: :delete %>
            <% end %>
          <% end %>

          <% if coordinator_signed_in? %>
            <% if interior.coordinator_id == current_coordinator.id %>
              <%= link_to '編集', edit_interior_path(interior.id) %>
              <%= link_to '削除', interior_path(interior.id), method: :delete, data: { confirm: '本当に削除しますか?' } %>
            <% end %>
          <% end %>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


