<h1><%= @coordinator.name %>のshow</h1>

<div>
<h3><%= @coordinator.user_name %></h3>
好きなスタイル：
</div>


<h3>案件一覧</h3>


<table>
    <thead>
    <tr>
        <th>リクエストno.</th>
        <th>ステータス</th>
        <th>クローズ日</th>
        <th>取引レジデント</th>
    </tr>
    </thead>
    <tbody>
    <% @coordinator.contracts.each do |contract| %>

    <tr>
        <td> <%= link_to contract.id, request_path(contract.request_id) %> </td>

        <td><%= contract.status %></td>

        <% if contract.status == 2 %>
            <td><%= contract.update_date %></td>
        <% elsif contract.status == 1 %>
            <td>取引中</td>
        <% end %>

        <td><%= link_to contract.request.resident.name, resident_path(contract.request.resident.id) %></td>

    </tr>
    <% end %>
  </tbody>
</table>
