<div>
<% if @profile_img.nil? %>
  <%= image_tag 'profile.jpg' %>
<% else %>
  <%= image_tag(@coordinator.profile_img.url) %>
<% end %>

<h1><%= @coordinator.user_name %></h1>
好きなスタイル：
</div><br>


<% if resident_signed_in? %>
  <% if @request.present? && @contract.nil? %>
    <%= link_to '依頼する', contracts_path(contract: {request_id: @request.id, coordinator_id: @coordinator.id}), method: :post, permitted: true %>

    <% elsif @request.present? && @contract.approval == false && @contract.coordinator_id == @coordinator.id %>
    <%= link_to '依頼を取り消す', contract_path(@request.contract.id), method: :delete, data: { confirm: '本当に依頼を取り消しますか' } %>

    <% elsif @request.present? && @request.coordinator_id == @coordinator.id %>
    <p>取引中</p>

    <% elsif @request.present? && @contract.present? %>
    <p>リクエスト依頼：他のコーディネーターに依頼中です</p>
    
  <% else %>
    <p>リクエスト依頼： リクエストを作成してからの申請となります </p>
    <%= link_to 'リクエストを作成', new_request_path %>
  <% end %>

    

<% elsif current_coordinator.id == @coordinator.id %>
  
  <%= link_to "承認待ち一覧を確認", contracts_path %>

  <div>
    <h3>Roomatch案件一覧</h3>

    <% if @contracts.nil? %>
      <p>取引履歴がありません。<p>
    <% else %>
      <table>
          <thead>
            <tr>
                <th>リクエストno.</th>
                <th>取引状況</th>
                <th>クローズ日</th>
                <th>取引レジデント</th>
                <th>リクエスト詳細</th>
            </tr>
          </thead>
          <tbody>
            <% @contracts.each do |contract| %>
            <tr>
                <td><%= contract.id %></td>
                <td><%= contract.status %></td>

              <% if contract.status == 'close' %>
                <td><%= contract.update_date %></td>
              <% elsif contract.status == 'open' %>
                <td>ー</td>
              <% end %>
                
                <td><%= contract.request.resident.user_name %></td>
                <td><%= link_to '＞＞', request_path(contract.request_id) %></td>
            </tr>
            <% end %>
          </tbody>
      </table>
    <% end %>
<% end %>


<h3> <%= @coordinator.user_name %>作成のインテリアコーディネート一覧</h3>

<% @interiors.each do |interior| %>

  <%= image_tag(interior.design_img.url) %><br>
  <div>
      <label>スタイル</label>
      
      <% if current_resident.present? %>
        <% favorite = @favorites.find_by(interior_id: interior.id) %>
        <% if favorite.nil? %>
          <%= link_to '♡', favorites_path(interior_id: interior.id), method: :post %>
        <% else %>
          <%= link_to '❤︎', favorite_path(id: favorite.id), method: :delete %>
        <% end %>
      <% end %>
  </div>
<% end %>
