<h1 class="page-title">Request</h1>

<div class="image-wrap">
  <h4>部屋のイメージ図</h4>
  <% if @request.room_img.url.nil? %>
    <p>※イメージ画像の登録がありません</p>
  <% else %>
    <%= image_tag(@request.room_img.url, class: "room-image") %>
  <% end %>
</div>

<table class="table">
    <tr>
        <th>リクエスト No.</th>
        <td><%= @request.id %></td>
    </tr>
    <tr>
      <th>住人ユーザー名</tH>
      <td><%= link_to @request.resident.user_name, resident_path(@request.resident_id) %></td>
    </tr>
    <tr>
        <th>部屋のサイズ</th>
        <td><%= @request.room_size %></td>
    </tr>
    <tr>
        <th>予算</th>
        <td>¥ <%= @request.budget %></td>
    </tr>
    <tr>
        <th>希望納期</th>
        <td><%= @request.deadline %></td>
    </tr>
    <tr>
        <th>その他希望条件</th>
        <td><%= @request.remarks %></td>
    </tr>
    <tr>
      <th>担当コーディネーター</th>
        <% if @request.coordinator_id.present? %>
            <td><%= link_to @request.coordinator.name, coordinator_path(@request.coordinator_id) %></td>
        <% else %>
            <td>募集中</td>
        <% end %>
    </tr>
</table>

<% if resident_signed_in? && @request.resident_id == current_resident.id %>
  <div class="center">
  <%= link_to 'チャットルームへ', room_path(@request.contract.room.id), class: "btn-flat-border" %>
  </div>
<% elsif coordinator_signed_in? && @request.coordinator_id == current_coordinator.id %>
  <div class="center">
  <%= link_to 'チャットルームへ', room_path(@request.contract.room.id), class: "btn-flat-border" %>
  </div>
<% end %>

<% if @request.suggestion.present? %>
  <div class="center">
    <%= link_to '提案詳細画面へ', suggestion_path(@request.suggestion.id), class: "btn-flat-border" %>
  </div>
<% elsif coordinator_signed_in? && @request.coordinator_id == current_coordinator.id %>
  <%= link_to '提案フォームへ', new_suggestion_path(@request.suggestion.id), class: "btn-flat-border" %>
<% else %>
  <p>提案待ちです</p>
<% end %>



