<h1 class="page-title">リクエスト詳細</h1>

<div class="image-wrap">
  <h4>部屋のイメージ図</h4>
  <% if @request.room_img.url.nil? %>
    <p>※イメージ画像の登録がありません</p>
  <% else %>
    <%= image_tag(@request.room_img.url, class: "room-image") %>
  <% end %>
</div>

<% if resident_signed_in? %>
  <% if @request.resident_id == current_resident.id %>
  <div class="edit_del_button">
    <td><%= link_to '編集', edit_request_path(@request.id) %></td>
    <td><%= link_to '削除', request_path(@request.id), method: :delete, data: { confirm: '本当に削除しますか' } %><td>
  </div>
  <% end %>
<% end %>

<table class="table">
    <tr>
        <th>リクエスト No.</th>
        <td><%= @request.id %></td>
    </tr>
    <tr>
      <th>レジデントユーザー名</tH>
      <td><%= link_to @request.resident.user_name, resident_path(@request.resident_id) %></td>
    </tr>
    <tr>
        <th>部屋のサイズ</th>
        <td><%= @request.room_size %></td>
    </tr>
    <tr>
        <th>予算</th>
        <td>¥ <%= @request.budget %></td>
    </tr>
    <tr>
        <th>希望納期</th>
        <td><%= @request.deadline.strftime("%Y/%m/%d") %></td>
    </tr>
    <tr>
        <th>その他希望条件</th>
        <td><%= @request.remarks %></td>
    </tr>
    <tr>
      <th>担当コーディネーター</th>
        <% if @request.coordinator_id.present? %>
            <td><%= link_to @request.coordinator.name, coordinator_path(@request.coordinator_id) %></td>
        <% else %>
            <td>募集中</td>
        <% end %>
    </tr>
</table>

<% if @request.coordinator_id.nil? %>
  <td></td>
<% elsif resident_signed_in? %>
  <% if @request.resident_id == current_resident.id %>
    <div class="center">
    　　<% if @request.contract.room.nil? %>
          <div class="center">
            <%= link_to 'チャットを開始する', rooms_path(room: {resident_id: @request.resident_id, contract_id: @request.contract.id}), method: :post, class: "btn-flat-border" %>
          </div>
        <% else %>
          <div class="center">
            <%= link_to 'チャットルームへ', room_path(@request.contract.room.id), class: "btn-flat-border" %>
          </div>
        <% end %>
    </div>
  <% end %>
<% elsif coordinator_signed_in? %>
  <% if @request.coordinator_id == current_coordinator.id %>
    <% if @request.contract.room.nil? %>
      <div class="center">
        <%= link_to 'チャットを開始する', rooms_path(room: {resident_id: @request.resident_id, contract_id: @request.contract.id}), method: :post, class: "btn-flat-border" %>
      </div>
    <% else %>
      <div class="center">
        <%= link_to 'チャットルームへ', room_path(@request.contract.room.id), class: "btn-flat-border" %>
      </div>
    <% end %>
  <% end %>
<% end %>


<% if @request.suggestion.present? %>
  <div class="center">
    <%= link_to '提案詳細画面へ', suggestion_path(@request.suggestion.id), class: "btn-flat-border" %>
  </div>
<% elsif coordinator_signed_in? && @request.coordinator_id == current_coordinator.id %>
  <div class="center">
      <%= link_to '提案フォームへ', new_suggestion_path, class: "btn-flat-border" %>
  </div>
<% end %>



