<h1>Request</h1>


<table>
    <tr>
        <td>Request No.：</td>
        <td><%= @request.id %></td>
    </tr>
    <tr>
        <td>部屋のサイズ：</td>
        <td><%= @request.room_size %></td>
    </tr>
    <tr>
        <td>予算：</td>
        <td><%= @request.budget %></td>
    </tr>
    <tr>
        <td>希望納期：</td>
        <td><%= @request.deadline %></td>
    </tr>
    <tr>
        <td>その他希望条件</td>
        <td><%= @request.remarks %></td>
    </tr>
</table>

<p>部屋のイメージ図</p>
<%= image_tag(@request.room_img.url) %>

<br>

<label>担当コーディネーター：</label>
<% if @request.coordinator_id.present? %>
    <%= link_to @request.coordinator.name, coordinator_path(@request.coordinator_id) %>
<% else %>
    募集中
<% end %>

<br><br>

<div>
    <h4>住民プロフィール</h4>
    <label>ユーザー名：</label>
     <%= @request.resident.name %><br><br>
 
    <label>性別：</label>
    <%= @request.resident.sex %><br><br>
 
    <label>誕生日：</label>
    <%= @request.resident.birthday %><br><br>
 
 </div>

