  <div class="media">
    <div class="media-left">
      <% if @profile_img.nil? %>
        <%= image_tag 'profile.jpg', class: "media-object" %>
      <% else %>
        <%= image_tag(@coordinator.profile_img.url, class: "media-object") %>
      <% end %>
    </div>

    <div class="media-body">
      <h3 class="media-heading"><%= @resident.user_name %></h4>
      <div>
        <label>性別：</label>
        <%= @resident.sex %><br><br>
    
        <label>誕生日：</label>
        <%= @resident.birthday %><br><br>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">リクエスト履歴</div>

    　　<% if @requests.present? %>

    　　<table class="table">
        <tr>
            <th>リクエストNo.</th>
            <th>詳細</th>
            <th>ステータス</th>
            <th>クローズ日</th>
            <th>担当コーディネーター</th>
            <% if resident_signed_in? %>
              <th>提案</th>
              <th>チャットルーム</th>
            <% end %>
        </tr>

        <% @requests.each do |request| %>
          <tr>
            <td><%= request.id %></td>
            <td><%= link_to '詳細画面へ', request_path(request.id) %>
            <td><%= request.status %></td>
            <% if request.status == false %>
              <td>ー</td>
            <% else %>
              <td><%= request.updated_at %></td>
            <% end %>

            <% if request.coordinator_id.present? %>
              <td><%= link_to request.coordinator.name, coordinator_path(request.coordinator.id) %></td>
            <% elsif request.contract.present? && request.contract.approval == false %>
              <td><%= link_to request.contract.coordinator.name, coordinator_path(request.contract.coordinator.id) %>に依頼中</td>
            <% else %>
              <td>コーディネーター募集中</td>
            <% end %>

            <% if resident_signed_in? %>
              <% if request.suggestion.nil? %>
                <td>提案待ち</td>
              <% else %>
                <td><%= link_to '提案詳細へ', suggestion_path(request.suggestion.id) %></td>
              <% end %>

              <% if request.contract.nil? %>
                <td>ー</td>
              <% elsif request.contract.approval == false %>
                <td>ー</td>
              <% elsif request.contract.room.nil? %>
                <td><%= link_to 'チャットを開始する', rooms_path(room: {coordinator_id: contract.request.coordinator_id, contract_id: contract.id}), method: :post %></td>
              <% else %>
                <td><%= link_to 'チャットルームへ', room_path(request.contract.room.id) %>
              <% end %>
            <% end %>
          
          </tr>
        <% end %>
    　　</table>

      <% else %>
        <p>リクエスト履歴がありません。</p>

      <% end %>
    </div>
  </div>
