<% if @profile_img.nil? %>
  <%= image_tag 'profile.jpg' %>
<% else %>
  <%= image_tag(@coordinator.profile_img.url) %>
<% end %>

<div>
    <label>ユーザー名：</label>
    <%= @resident.user_name %>
</div>

<div>
    <label>好きなスタイル：西海岸、サーフ</label>
</div>

<% if resident_signed_in? %>
  <%= link_to 'Edit Profile', edit_resident_path(@resident.id) %><br>
  <%= link_to 'Create Request', new_request_path %>
<% end %>


    <h3>リクエスト一覧</h3>

    <% if @requests.nil? %>
      <p>リクエスト履歴がありません。</p>
    <% else %>

    <table>
        <tr>
            <td>リクエストNo.</td>
            <td>ステータス</td>
            <td>クローズ日</td>
            <td>担当コーディネーター</td>
        </tr>

        <% @requests.each do |request| %>
        <tr>
            <td><%= request.id %></td>
            <td><%= request.status %></td>
            <td><%= request.updated_at %></td>
          <% if request.coordinator.nil? %>
            <td>コーディネーター募集中</td>
          <% else %>
            <td><%= request.coordinator.name %></td>
          <% end %>
        </tr>
        <% end %>
    </table>

    <% end %>

    

