<h1 class="page-title">Chatting Room</h1>
<% if resident_signed_in? %>
  <h3><%= @coordinator.user_name %></h3>
  <div class="chat-field">
    <% @messages.each do |m| %>
      <!-- メッセージがResidentによるものだったら -->
      <% if m.is_resident %>
        <!-- メッセージを右に寄せる -->
        <div class="right-message">
          <span class="msg-time"><%= m.created_at.strftime("%m/%d %H:%M") %></span>
          <div class="mycomment">
            <p><%= m.content %></p>
          </div>
        </div>
      <!-- メッセージがCoordinatorによるものだったら -->
      <% else %>
        <!-- メッセージを左に寄せる -->
        <div class="left-message">
            <p class="msg-time"><%= m.created_at.strftime("%m/%d %H:%M") %></p>
            <div class="says">
              <p><%= m.content %></p>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% elsif coordinator_signed_in?%>
  <h3><%= @resident.name %></h3>
  <div class="chat-field">
    <% @messages.each do |m| %>
      <!-- メッセージがResidentによるものだったら -->
      <% if m.is_resident %>
        <!-- メッセージを左に寄せる -->
        <div class="left-message">
            <p class="msg-time"><%= m.created_at.strftime("%m/%d %H:%M") %></p>
            <div class="says">
              <p><%= m.content %></p>
            </div>
        </div>
      <!-- メッセージがCoordinatorによるものだったら -->
      <% else %>
        <!-- メッセージを右に寄せる -->
        <div class="right-message">
          <span class="msg-time"><%= m.created_at.strftime("%m/%d %H:%M") %></span>
          <div class="mycomment">
            <p><%= m.content %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="send-form">
  <%= form_for [@room, @message] do |f| %>
    <%= f.text_field :content %>
    <%= f.submit "メッセージを送る"%>
  <% end %>
</div>


<nav aria-label="...">
  <ul class="pager">
    <li class="previous"><%= link_to '← リクエスト詳細に戻る', request_path(@room.contract.request_id) %></li>
  </ul>
</nav>
