<h1 class="page-title">提案詳細</h1>

<div class="suggestion-wrap">
  <div>
    <h3>部屋のイメージ図</h3>
    <%= image_tag(@suggestion.design_img.url, class: "design-image") %>
  </div>

  <div class="design_detail">
    <div>
      <p>コーディネート説明</p>
      <p><%= @suggestion.description %></p>
    </div>

    <div>
      <p>予算</p>
      <p>¥ <%= @suggestion.budget %></p>
    </div>
  </div>

  <% if @suggestion.contract.room.nil? %>
    <%= link_to 'チャットを開始する', rooms_path(room: {resident_id: @suggestion.contract.request.resident_id, contract_id: @suggestion.contract_id}), method: :post, class: "btn-flat-border" %>
  <% else %>
    <%= link_to 'チャットルームへ', room_path(@suggestion.contract.room.id), class: "btn-flat-border" %>
  <% end %>


<div>
<% if resident_signed_in? %>
  <% if @suggestion.contract.status == 'ongoing' %>
    <%= link_to '取引を終了する', contract_path(@suggestion.contract_id, contract:{status: 'close'}), method: :put, class: "btn-flat-border2" %>
  <% end %>
<% end %>
</div>

</div>