<!DOCTYPE html>
<html>
  <head>
    <title>Roomatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'coordinator_logout', destroy_coordinator_session_path, method: :delete %>
    <%= link_to 'resident_logout', destroy_resident_session_path, method: :delete %>
    <%= yield %>
  </body>
</html>
