<!DOCTYPE html>
<html>
  <head>
    <title>Roomatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header-wrap">
      <header class="all-header">
        <%= image_tag 'roomatch-04.png', class: "nav-logo"%>

        <div class="header-nav">
        <% if resident_signed_in? %>
        <ul class="nav nav-pills">
          <li role="presentation", class="nav-left"><%= link_to 'インテリア一覧', interiors_path %></li>
          <li role="presentation", class="nav-left"><%= link_to 'お気に入り一覧', favorites_path %></li>
          <li role="presentation", class="nav-left"><%= link_to 'マイページ', resident_path(current_resident.id) %></li>

          <p class="navbar-text navbar-right"><%= link_to 'ログアウト', destroy_resident_session_path, method: :delete %></p>
          <p class="navbar-text navbar-right"><%= link_to 'リクエスト作成', new_request_path %></p>
        </ul>
        
        <% elsif coordinator_signed_in? %>
        <ul class="nav nav-pills">
          <ul class="nav nav-pills">
          <li role="presentation"><%= link_to 'インテリア一覧', interiors_path %></li>
          <li role="presentation"><%= link_to '取引依頼一覧', contracts_path %></li>
          <li role="presentation"><%= link_to 'マイページ', coordinator_path(current_coordinator.id) %></li>
          
          <p class="navbar-text navbar-right"><%= link_to 'ログアウト', destroy_coordinator_session_path, method: :delete %></p>
          <p class="navbar-text navbar-right"><%= link_to 'インテリア登録', new_interior_path %></p>
        </ul>
      <% end %>
      </header>

      <div class="notifications">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: key) %>
        <% end %>
      </div>


      <%= yield %>

      <footer>
      　© 2021 oginori All Rights Reserved.
      </footer>
    </div>
  </body>
</html>
