<!DOCTYPE html>
<html>
  <head>
  <title>Roomatch</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <div class="header-wrap">

    <div class="notifications">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-warning") %>
        <% end %>
      </div>

      <header class="container tops-header">
        <%= image_tag 'roomatch-04.png', class: "top-logo"%>
      </header>

      <div class="tops-image">
          <%= image_tag 'roomatch-01.jpg', class: "top-img"%>
      </div>

      <section class="container tops-body">

        <div class="concept">
          <p><span class="under">「すてきなお部屋に住みたい！でもコーディネートのセンスに自信がない・・・」</span></p>
          <p><span class="under2">「インテリアコーディネートのプロになりたい！でも経験が足りない・・・」</span></p>
          <p><span>RooMatchは、そんな人のためのマッチングアプリです。</span></p>
          </div>

          <div class="tops-cover">
            <div class="tops-sel">
              <div class="box-left">
                <span class="en">Resident</span>
                <span class="ja">　　住 人</span>
              </div>
              <div class="tops-link">
                <%= link_to '新規会員登録', new_resident_registration_path %>
                <%= link_to 'ログイン', new_resident_session_path %>
              </div>
            </div>

            <div class="tops-sel">
              <div class="box-right">
                <span class="en">Coordinator</span>
                <span class="ja">　コーディネーター</span>
              </div>
              <div class="tops-link">
                <%= link_to '新規会員登録', new_coordinator_registration_path %>
                <%= link_to 'ログイン', new_coordinator_session_path %>
              </div>
            </div>
          </div>
      </section>

      <footer>
      　© 2021 oginori All Rights Reserved.
      </footer>
    </div>
  </body>
</html>